body {}

.container{}
.controlBar{
    padding: 20px;
}

#turnTimer{}
#moveCounter{}
#gameControl{}
.hidden{
    display: none;
}

.showing{
    color: red;
    font-size: 1rem;
    display: inline-block;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    
    float: left;
    width: 30%;
    padding: 5px;
    vertical-align: middle;
  }
/* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
}
.card {
    background-color: #000;
    border: 2px solid red;
    color: #fff;
    font-size: 8rem;
    height: 150px; 
    text-align: center;
    /* margin: 5px; */
    
}
.card:hover{
    /* ToDo: style this. */
    background-color: green;
    border: blue;
}
.flashCorrect{
    border: green;
    border-style: double
}
.bottomNav{
    background-color: #fff;
    font-size: .75rem;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
