body {}

.container{}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
/* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
}
.card {
    background-color: #000;
    border: 2px solid red;
    color: #fff;
    height: 150px; 
    /* margin: 5px; */
    
}
.card:hover{
    background-color: green;
    border: blue;
}
.bottomNav{
    background-color: #fff;
    font-size: .75rem;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
